<header>
    <nav>
        <div class="float-left">
            <a href="/"><img class="icon" src="/grizzly/assets/grizzly-logo.svg"></a>
        </div>
        <div class="float-left header-title">
            <a href="/"><h1>Grizzly Server</h1></a>
        </div>
        <div class="float-right context">
            <form action="#" method="post">
                current context: <b>{{.CurrentContext}}</b>&nbsp;
                <span><a target="_blank" href="https://grafana.github.io/grizzly/server/"><img src="/grizzly/assets/info.png"></a></span>
            </form>
        </div>
    </nav>
</header>