<!doctype html>
<html lang="en">
<head>
    <meta charset=utf-8>
    <title>Grizzly</title>
    <link rel="stylesheet" href="/grizzly/assets/style.css"/>
</head>

<html>
    <body>
        {{ template "proxy/header.html.tmpl" . }}
        <iframe src="{{ .IframeURL }}"></iframe>
    </body>
</html>