<!doctype html>
<html lang="en">
<head>
    <meta charset=utf-8>
    <title>Grizzly</title>
    <link rel="stylesheet" href="/grizzly/assets/style.css"/>
</head>
<body dir="ltr">
<header>
    <nav>
        <a href="/" class="logo">
            <img src="/grizzly/assets/logo.svg" alt="logo"/>
        </a>

        <h1>Grizzly</h1>
    </nav>
</header>

<main>
    {{ if ne (len .ParseErrors) 0 }}
        <h1>Errors</h1>

        {{ range .ParseErrors }}
            <li>
                <code>{{ . }}</code>
            </li>
        {{ end }}
    {{ end }}
    <h1>Available dashboards</h1>

    <ul>
        {{ range .Resources }}
            {{ if eq .Kind "Dashboard" }}
                <li>
                    <a href="http://localhost:{{ $.ServerPort }}/d/{{ .Name }}/slug">{{ .Spec.title }}</a>
                </li>
            {{ end }}
        {{ end }}
    </ul>
</main>
</body>
</html>
