<!doctype html>
<html lang="en">
<head>
    <meta charset=utf-8>
    <title>Grizzly</title>
    <link rel="stylesheet" href="/grizzly/assets/style.css"/>
</head>
<body dir="ltr">
{{ template "proxy/header.html.tmpl" . }}

<main>
    <div>
    {{ if ne (len .ParseErrors) 0 }}
        <h1>Errors</h1>

        {{ range .ParseErrors }}
          {{ if not (IsWarning .) }}
            <li>
                <code>{{ . }}</code>
            </li>
          {{ end }}
        {{ end }}
    {{ end }}
    <h1>Available dashboards</h1>

    <ul>
        {{ range .Resources }}
            {{ if eq .Kind "Dashboard" }}
                <li>
                    <a href="/grizzly/{{.Kind}}/{{.Name}}">{{ .Spec.title }}</a>
                </li>
            {{ end }}
        {{ end }}
    </ul>
    </div>
</main>
</body>
</html>
